@import '../../styles/mixin.scss';

.menu {
  margin: 15px;

  @include sp {
    margin: 0;
  }
}

.menu__list {
  font-size: 23px;
  margin-bottom: 30px;

  @include sp {
    font-size: 4.3vw;
    margin-bottom: 15%;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
