@charset "utf-8";

/*!
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body{
    line-height:1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{
    display:block;
}

ul{
    list-style:none;
}

blockquote, q{
    quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content:'';
    content:none;
}

a{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins{
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark{
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del{
    text-decoration:line-through;
}

abbr[title], dfn[title]{
    border-bottom:1px dotted;
    cursor:help;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select{
    vertical-align:middle;
}

html{
    font-family:"YuGothic","游ゴシック","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    color:#464646;
    word-wrap:break-word;
    font-size:14 * 1px;
}

body{
    width:100%;
    height:100%;
    -webkit-text-size-adjust:100%;
}

a{
    text-decoration:none;
    color:#464646
}

a:hover{
    text-decoration:none;
}

img{
    vertical-align:bottom;
}

strong{
    font-weight:bold;
}

input{
    padding:0;
    border:none;
    background:none;
}

input[type=text], input[type=tel], input[type=password], input[type=email], input[type=search], input[type=url], input[type=datetime], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime-local], input[type=number], select, textarea{
    padding:6px;
    font-family:"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    background-color:#fff;
    border:solid 1px #c9c9c9;
    vertical-align:bottom
}

input[type=text]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=search]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder, input[type=datetime]::-webkit-input-placeholder, input[type=date]::-webkit-input-placeholder, input[type=month]::-webkit-input-placeholder, input[type=week]::-webkit-input-placeholder, input[type=time]::-webkit-input-placeholder, input[type=datetime-local]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color:#e2e2e2;
}

input[type=text]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=search]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder, input[type=datetime]:-ms-input-placeholder, input[type=date]:-ms-input-placeholder, input[type=month]:-ms-input-placeholder, input[type=week]:-ms-input-placeholder, input[type=time]:-ms-input-placeholder, input[type=datetime-local]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder{
    color:#e2e2e2;
}

input[type=text]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=search]::-moz-placeholder, input[type=url]::-moz-placeholder, input[type=datetime]::-moz-placeholder, input[type=date]::-moz-placeholder, input[type=month]::-moz-placeholder, input[type=week]::-moz-placeholder, input[type=time]::-moz-placeholder, input[type=datetime-local]::-moz-placeholder, input[type=number]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder{
    color:#e2e2e2;
}

input[type=text]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, input[type=url]:focus, input[type=datetime]:focus, input[type=date]:focus, input[type=month]:focus, input[type=week]:focus, input[type=time]:focus, input[type=datetime-local]:focus, input[type=number]:focus, select:focus, textarea:focus{
    background-color:#eef4fb;
}

input[type=radio], input[type=checkbox]{
    margin:0;
    vertical-align:-1px;
}

input[type="button"], input[type="submit"]{
    -webkit-appearance:none;
    cursor:pointer;
    font-family:"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    vertical-align:bottom;
}

textarea{
    resize:vertical;
    vertical-align:bottom;
}

em{
    font-style:italic;
}

sup{
    vertical-align:super;
}

sub{
    vertical-align:sub;
}

blockquote{
    background-color:#EEEFFF;
    padding:1em 1em 1em 3em;
    position:relative;
    border-left:3px solid #666;
}

blockquote:before{
    content:"“";
    font-size:600%;
    line-height:1em;
    color:#999;
    position:absolute;
    left:0;
    top:0;
}

::selection{
    background:#d4dcd6;
}

::-moz-selection{
    background:#d4dcd6;
}

.pci{
    display:inline
}

.spi{
    display:none
}

.pc{
    display:block
}

.sp{
    display:none
}

@charset "utf-8";

.cr{
    cursor:default;
}

.fade{
    @include fade;
}

.bgcolor_none{
    background-color:transparent !important;
}

.no_breadcrumbsIcon:after{
    content:"" !important;
    display:inline-block;
    margin:0 5px;
}

.cf:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}

* html .cf{ zoom:1;}

*:first-child+html .cf{zoom:1;}

.noBorder{
    border:none !important;
}

header{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
            justify-content:space-between;

}

.contents{
    max-width:1200px;
    margin:0 auto;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center
}

.box{
    width:300px;
    height:300px;
    border:solid 1px #000;
    box-sizing:border-box;
    margin-left:-1px;
    margin-bottom:-1px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center
}

.box.pc2{
    display:none;
}

.box__icon{
    font-size:50px;
}

.box__topTtl{
    font-family:'Oswald', sans-serif;
    font-size:25px;
    letter-spacing:1.6px;
}

.box__topTtl strong{
    background:-webkit-linear-gradient(transparent 70%, #e6b3b1 70%);
    background:linear-gradient(transparent 70%, #e6b3b1 70%);
}

.box__topTtl--sml{
    font-size:20px;
    text-shadow:1px 1px 1px #fff;
}

.box__wrap{
    width:250px;
    height:100%;
    margin:0 auto;
    padding:40px 0 0;
}

.box__img{
    width:215px;
}

.box__img img{
    width:100%;
}

.box__menu{
    margin:15px;
}

.box__list{
    font-family:'Oswald', sans-serif;
    margin-bottom:30px;
    font-size:23px;
}

.box__list a{
    text-decoration:underline;
}

.box__list a:hover{
    text-decoration:none;
}

.box__ttl{
    font-family:'Oswald', sans-serif;
    font-size:22px;
    letter-spacing:1.6px;
    color:#b77d85;
    padding-bottom:25px;
}

.box__txt{
    font-family:'Oswald', sans-serif;
    font-weight:100;
    font-size:16px;
    padding-bottom:20px;
    letter-spacing:.5px;
    line-height:1.6;
}

.box__link{
    display:block;
    width:300px;
    height:300px;
    position:relative;
}

.box__link:after{
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
    position:absolute;
    -webkit-transition:all .3s;
    transition:all .3s;
    font-family:FontAwesome;
    color:#ededed;
    z-index:-1;
}

.box__link--01{}

.box__link--01:after{
    content:"\f1bb";
    font-size:150px;
}

.box__link--01:hover{}

.box__link--01:hover:after{
    color:cadetblue;
    font-size:170px;
}

.box__link--02{}

.box__link--02:after{
    content:"\f1fd";
    font-size:130px;
}

.box__link--02:hover{}

.box__link--02:hover:after{
    color:#facdc8;
    font-size:160px;
}

.box__link--03{}

.box__link--03:after{
    content:"\f022";
    font-size:130px;
}

.box__link--03:hover{}

.box__link--03:hover:after{
    color:#b1dde6;
    font-size:160px;
}

.box__link--sns{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
}

.box__link--tw{}

.box__link--tw:after{
    content:"\f099";
    font-size:70px;
}

.box__link--tw:hover{}

.box__link--tw:hover:after{
    color:#55acee;
    font-size:80px;
}

.box__link--inst{}

.box__link--inst:after{
    content:"\f16d";
    font-size:60px;
}

.box__link--inst:hover{}

.box__link--inst:hover:after{
    color:#3f729b;
    font-size:70px;
}

.box__link--git{}

.box__link--git:after{
    content:"\f09b";
    font-size:70px;
}

.box__link--git:hover{}

.box__link--git:hover:after{
    color:#4183c4;
    font-size:80px;
}

.box__link--blog{}

.box__link--blog:after{
    content:"\f09e";
    font-size:60px;
}

.box__link--blog:hover{}

.box__link--blog:hover:after{
    color:#008fde;
    font-size:70px;
}

.box__link--mail{}

.box__link--mail:after{
    content:"\f003";
    font-size:60px;
}

.box__link--mail:hover{}

.box__link--mail:hover:after{
    color:#e6bab1;
    font-size:70px;
}

.backBg{
    width:6000px;
    position:absolute;
    top:0px;
    box-sizing:border-box;
    height:100%;
    z-index:-1;
    max-width:100%;
}

.bgLine{
    width:100%;
    height:300px;
    border-bottom:solid 1px #000;
    z-index:0;
    box-sizing:border-box;
    margin-bottom:-1px
}

.bgLine--top{
    border-top:solid 1px #000;
}

.bgLine--btm{
    margin-bottom:0;
}

.bgLine.pc2{
    display:none;
}

.footer{
    padding-top:20px;
    padding-bottom:20px;
    padding:10px 0;
    text-align:center;
    position:relative;
    border-bottom:1px solid #000
}

.footer__txt{
    font-size:13px;
    letter-spacing:2px;
}

@media print, screen and (max-width: 768px){

    .pci{
        display:none;
    }

    .spi{
        display:inline;
    }

    .pc{
        display:none;
    }

    .sp{
        display:block;
    }

    .contents{
        width:100%;
    }

    .box{
        position:absolute;
        top:0;
        left:0;
        width:50%;
        height:100%;
        position:relative;
    }

    .box:before{
        content:"";
        display:block;
        padding-top:100%;
        width:100%;
        position:relative;
        z-index:-1;
    }

    .box__icon{
        font-size:8vw;
        margin-bottom:15%;
        position:absolute;
    }

    .box__topTtl{
        font-size:4.3vw;
        position:absolute;
        letter-spacing:1px;
        letter-spacing:1px;
    }

    .box__wrap{
        width:85%;
        position:absolute;
        padding:10% 0 0;
        left:0;
        right:0;
        top:0;
    }

    .box__img{
        width:80%;
        position:absolute;
    }

    .box__menu{
        margin:0;
    }

    .box__list{
        font-size:4.3vw;
        margin-bottom:15%;
    }

    .box__ttl{
        font-size:4.2vw;
        padding-bottom:8%;
    }

    .box__txt{
        font-size:3.3vw;
        padding-bottom:3%;
    }

    .box__link{
        width:100%;
        height:100%;
        position:absolute;
    }

    .box__link--01:after{
        font-size:12vw;
        padding-bottom:3%;
    }

    .box__link--01:hover:after{
        font-size:18vw;
        padding-bottom:3%;
    }

    .box__link--02:after{
        font-size:12vw;
        padding-bottom:3%;
    }

    .box__link--02:hover:after{
        font-size:18vw;
        padding-bottom:3%;
    }

    .box__link--03:after{
        font-size:12vw;
        padding-bottom:3%;
    }

    .box__link--03:hover:after{
        font-size:18vw;
        padding-bottom:3%;
    }

    .box__link--tw:after{
        font-size:12vw;
    }

    .box__link--tw:hover:after{
        font-size:18vw;
    }

    .box__link--inst:after{
        font-size:12vw;
    }

    .box__link--inst:hover:after{
        font-size:18vw;
    }

    .box__link--git:after{
        font-size:12vw;
    }

    .box__link--git:hover:after{
        font-size:18vw;
    }

    .box__link--blog:after{
        font-size:12vw;
    }

    .box__link--blog:hover:after{
        font-size:18vw;
    }

    .footer{
        font-size:3vw;
        border-right:1px solid #000;
        border-left:2px solid #000;
        margin-left:-1px;
        box-sizing:border-box;
        width:100%;
    }

    .footer__txt{
        font-size:3vw;
    }
}

@media screen and (min-width:900px) and ( max-width:1200px){

    .contents{
        -webkit-box-pack:start;
        -webkit-justify-content:start;
        -ms-flex-pack:start;
        justify-content:start;
        width:900px;
    }

    .pc2{
        display:block !important;
    }

    .pc3{
        display:none !important;
    }
}

@media screen and (min-width:768px) and ( max-width:900px){

    .backBg .pc2{
        display:block !important;
    }
}
